#navbar {
    position: sticky;
    top:0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.89);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
    z-index: 1;
}

nav {
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

#navbar button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

#navbar button :hover {
    background-color: rgba(0, 0, 0, 0.65);
    color: #ffffff;
    transition: background-color 0.5s, color 0.5s;
}

#navbar button a {
    padding: 0.5rem;
    /*font-size: 0.5rem;*/
}

#navbar .socials-links {
    padding: 0.5rem;
    display:flex;
    justify-content: flex-end;
    width: 100%;
}

#navbar .social-icon {
    padding: 0 0.3rem;
    font-size: 2rem;
}

#navbar .logo {
    display:flex;
}

@media screen and (max-width: 500px){
#navbar {
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.5rem;
}
    nav {
        padding: 0.5rem;
        display: flex;
        gap: 0;
    }

    #navbar .logo {
        display: none;
    }

    #navbar .socials-links {
        display: none;
    }
}