#skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

#skills {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 1rem;
}

.skills-title h3 {
    text-align: center;
}

@media screen and (max-width:500px) {
    #skills {
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    #skills-section {
        padding-top: 3rem;
    }
}