#skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

#skills {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 1rem;
}

#skills-section h3 {
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 1px;
    width: 100%;
}

@media screen and (max-width:500px) {
    #skills {
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }

    #skills-section {
        padding-top: 3rem;
        width: 100%;
    }
}