.skill-icon {
    font-size: 2rem;
    margin: 0;
}

p {
    margin: 0;
}

.skill-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 1rem;
    transition: background-color 0.5s, color 0.25s;
    transition-timing-function: ease-in-out;
    width: 4rem;
}

.skill-hover {
    background-color: #363638;
    color: #ffffff;
}

@media screen and (max-width:500px) {
    .skill-icon {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.8rem;
    }
    .skill-type {
        width: 2.5rem;
        padding: 1rem;
    }
}