#contact {
    padding-top: 5rem;
    width: 100%;
}

#contact h3 {
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 1px;
    width: 100%;
}

@media screen and (max-width:500px) {
    #contact {
        padding-top: 3rem;
    }
}