.header {
    background-image: url("/Users/claudialim/sites/academyServer/html/portfolio-rebuild/src/assets/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding-left: 25vw;*/
    animation-name: header-animation;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes header-animation {
    from {color: rgba(54, 54, 56, 0.00);}
    to {color: #363638;}
}

