.header {
    background-image: url("/Users/claudialim/sites/academyServer/html/portfolio-rebuild/src/assets/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    animation-name: header-animation;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    padding-left: 2rem;
}

.header-text {
    max-width: 50%;
}

.header img {
    width: 20%;
}

.header h3 {
    margin: 0;
    padding: 0;
}

@keyframes header-animation {
    from {color: rgba(54, 54, 56, 0.00);}
    to {color: #363638;}
}

@media screen and (max-width:500px) {
    .header {
        flex-direction: column;
    }

    .header-text {
        text-align: center;
    }

    .header img {
        width: 50vw;
    }
}