#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    width: 100%;
}

.indicator-bar {
    display: flex;
    margin: 1rem auto;
}

.indicator-highlighted {
    color: red;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*height: fit-content;*/
    position: relative;
}

.carousel-button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    background-color: rgba(54, 54, 56, 0);
}

.carousel-button :hover {
    color: #707073;
}

.button-left {
    /*position: absolute;*/
    /*left: 0;*/
}

.button-right {
    /*position:absolute;*/
    /*right: 0;*/
}

@media screen and (max-width:500px) {
    #projects {
        padding-top: 3rem;
    }
}