:root {
    --swiper-theme-color: rgb(255, 159, 0);
}

.swiper {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.swiper-slide {
    text-align: center;
    /*font-size: 18px;*/
    /*background: #fff;*/

    /* Center slide text vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: fit-content;
}

.swiper-slide img {
    /*display: block;*/
    /*width: 55%;*/
    height: 50vh;
    object-fit: cover;
    filter: drop-shadow(0 0 0.25rem #707073);
    transition: transform 1s;
}

.swiper-slide img:hover {
    transform: scale(105%);
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.project-card-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

}

.project-card-slider h4 {
    /*margin-top: 0;*/
}

.project-card-slider p {
    font-size: 0.9rem;
    margin-top: 1rem ;
    margin-bottom: 2rem;
    text-align: left;
}

.project-card-slider .tech-stack {
    margin-bottom: 0.5rem;
    letter-spacing: 0.2rem;
}

.project-card-slider a {
    display: contents;
}

.project-card-slider .project-icons a {
    color: #4b4b4b;
}

.project-card-slider .project-icons a :hover{
    color: #ff9f00;
}



.project-card-slider .project-icons {
    font-size: 2rem;
    margin: 0;

}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4.5rem;
    width: 100%;
}

#projects h3 {
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 1px;
    width: 100%;
}

@media screen and (max-width:500px) {
    #projects {
        padding-top: 2rem;
    }

    .project-card-slider p {
        padding: 0 0.25rem;
    }

    .swiper-slide img {
        width: 80%;
        height: 100%;
    }
}