
.project-slide {
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: column;
    background-color: #dedede;
    align-items: center;
    padding: 0.5rem;
    opacity: 1;

}

.project-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    width: 80vw;
    height: 60vh;
    /*border: 1px solid deeppink;*/
    background-size: cover;
}
.project-img {
    /*width: 50%;*/
    border: 1px solid orange;
    justify-self: center;
    align-self: center;
    /*height: 40vh;*/
}

.project-card a {
    justify-self: center;
    align-self: center;
}

.project-card img{
    object-fit: cover;
    width: 100%;
    justify-self: center;
    align-self: center;
}

.project-hidden {
    display: none;
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid green;*/
    justify-self: center;
    align-self: center;
    align-content: center;
    overflow: auto;
    height: 100%;
}

@media screen and (max-width:500px) {
    .project-card {
        display: flex;
        flex-direction: column;
    }
}
