
.logo{
border: 1px solid #ff9f00;
/*    color: white;*/
display: flex;
font-size: 0.5rem;
text-transform: uppercase;
letter-spacing: 0.2rem;
/* text-decoration: underline dashed; */
/* padding: 1rem; */
align-items: center;
width: 6rem;
    /*background-color: #ff9f00;*/
}

