#about-section {
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem 1rem 1rem;
}

#about-section h3 {
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 1px;

}
.emphasis {
    /*font-weight: bold;*/
    background-color: #dde4ee;
    letter-spacing: 0.06rem;
}

.emphasis a {
    /*color: #e67e22;*/

}

.emphasis a:hover{
    background-color: #ff9f00;
    color: #ffffff;
}

@media screen and (max-width:500px) {
    #about-section {
        padding: 3rem 0.5rem 1rem 0.5rem;
        line-height: 1.25rem;
    }
}