#about-section {
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem 1rem 1rem;
}

#about-section h3 {
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 1px;

}
.emphasis {
    font-weight: bold;
}

.emphasis a:hover{
    color: red;
}

@media screen and (max-width:500px) {
    #about-section {
        padding: 3rem 0.5rem 1rem 0.5rem;
        line-height: 1.25rem;
    }
}