

html {
    scroll-behavior: smooth;
    color: #363638;
    background-color: #ffffff;
    /*font-family: 'DM Sans', sans-serif;*/
    font-size: 1.25rem;
    font-family: Futura, sans-serif;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 75%;
}

a, a :visited{
    color: #363638;
    text-decoration: none;
}

footer {
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    /*position: absolute;*/
    margin: 1rem;
}

@media screen and (max-width:500px) {
    main {
        width: 100%;
    }
}