

html {
    scroll-behavior: smooth;
    color: #363638;
    background-color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 75%;
}

a, a :visited{
    color: #363638;
    text-decoration: none;
}

@media screen and (max-width:500px) {
    main {
        width: 100%;
    }
}